*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

.navbar{
    background: #7e7e7e;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    
}

#navbar_logo{
    margin-top: 8px;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;

}

.navbar_menu {
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    height: 100%;
}

.navbar_button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 100%;
    color:rgb(0, 0, 0);
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ffd000;
}

.button:hover{
    background-color: #ff6c0a;
    transition: all 0.2s ease;
}

.navbar_links:hover{
    color: rgb(255, 255, 255);
    transition: all 0.2s ease;
}

/* SAYFA İÇERİĞİ CSS */

.main{
    background-color: rgb(32, 32, 48);
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    background-color: #141414;
}

.main__img-container{
    text-align: center;
}

#main_img{
    height: 80%;
    width: 80%;
}

.main__content h1{
    font-size: 4rem;
    color: rgb(58, 145, 226);
}

.main__content h2{
    font-size: 3rem;
    color: rgb(238, 102, 24);
}

.main__content p {
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
    margin-bottom: 1rem;
}

.main__btn{
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%,#fe5196 100%);
    padding: 10px 30px; 
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
    position: relative;
    transition: all 0.3s;
    outline: none;
    font-weight: 300;
}

.main__btn a{
    color: #fff;
    position: relative;
    z-index: 2;
    font-weight: 600;
}